<form method='post' class="form-horizontal">
    <fieldset>
        <legend>用户注册</legend>
        <div class="control-group">
            <label for="username" class="control-label">用户名</label>
            <div class="controls">
                <input type="text" value='<%= username %>' class="input-xlarge" id="username" name="username">
                <p class="help-block">你的账户名称，用于登录和显示</p>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">口令</label>
            <div class="controls">
                <input type="password" value='<%= password %>' name="password" class="input-xlarge" id="password">
            </div>
        </div>
        <div class="control-group">
            <label for="passwordRepeat" class="control-label">重复输入口令</label>
            <div class="controls">
                <input type="password" value='<%= passwordRepeat %>' name="passwordRepeat" class="input-xlarge" id="passwordRepeat">
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">注册</button>
        </div>
    </fieldset>
</form>